.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  margin: 3rem auto;
}

.container h1 {
  font-size: 2rem;
  margin: 1rem auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}
